ROUTER_URL=http://100.112.135.61:5000/
CHROME_EXECUTABLE_PATH=/path/to/Google Chrome
PW_HEADLESS=1
ACCOUNT_FILE=accounts.txt
RESULT_FILE={provider}_keys.txt
ERROR_ACCOUNT_FILE=errorAccounts.txt
PROXY_POOL_FILE=proxy_keys.txt
BROWSER_COUNT=4
BROWSER_SLOW_MO=2
DELAY_BEFORE_NEXT_CLICK_MS=1000
DELAY_BETWEEN_ACCOUNTS_MS=3000
DELAY_BEFORE_BROWSER_CLOSE_MS=3000
DELAY_BEFORE_READING_COOKIES_MS=5000
TIMEOUT_NAVIGATION_MS=60000
TIMEOUT_DEFAULT_MS=15000
TIMEOUT_SHORT_MS=10000
BROWSER_ARGS_SETS=[["--incognito","--disable-extensions","--disable-blink-features=AutomationControlled","--disable-features=BlockThirdPartyCookies","--disable-site-isolation-trials","--disable-web-security"],["--incognito","--disable-extensions","--disable-blink-features=AutomationControlled","--disable-features=BlockThirdPartyCookies","--disable-site-isolation-trials","--disable-web-security"]]